<div class="layout-content">
  <app-toolbar [title]="'Angular Material Quickstart'"
               [icon]="'menu'"
               (buttonClicked)="auth.isAuthenticated() ? sidenav.toggle() : undefined">
  </app-toolbar>

  <app-sidenav #sidenav [opened]="true">
    <div class="router-outlet">
      <ng-content></ng-content>
    </div>
  </app-sidenav>
</div>
