<div class="label" style="background-color: {{ color }};">
  <span class="text"
        style="font-family: 'Inconsolata', 'Monaco', 'Consolas', monospace; font-weight: bold">
    <ng-content></ng-content>
  </span>
</div>
