<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div fxLayout="column" fxLayoutGap="20px" class="no-data-container">
  <mat-icon class="no-data-icon" color="primary">
    search
  </mat-icon>
  <span class="no-data-title">Pas de données chargées</span>
  <span class="no-data-text">
    Veuillez lancer une recherche.
  </span>
</div>
