.login-form {
  padding-top: 15px;
}

.spinner {
  ::ng-deep {
    circle {
      stroke: white;
    }
  }
}

::ng-deep {
  .login-form mat-form-field {
    width: 14rem!important;
  }
}
