<form [formGroup]="loginForm"
      class="login-form"
      fxLayout="column"
      fxLayoutAlign="space-between center"
      fxLayoutGap="0.8rem">

  <app-input
    formControlName="login"
    placeholder="Identifiant"
    type="text"
    fxFlex="20"
    class="field"
    required="true"
  ></app-input>

  <app-input
    formControlName="password"
    placeholder="Mot de passe"
    type="password"
    fxFlex="20"
    class="field"
    required="true"
  ></app-input>

  <app-raised-button
    [color]="'primary'"
    class="card-button"
    fxFlexAlign="center"
    (click)="onLoginClick($event)"
    [disabled]="false"
  > Connexion
    <mat-spinner *ngIf="spinnerEnabled"
                 class="spinner"
                 style="display: inline-block; margin-left: 5px; color: white" diameter="25"
                 mode="indeterminate">
    </mat-spinner>
  </app-raised-button>




</form>
