<div class="main-container">

  <app-card [headerTitle]="'Bienvenue dans Angular Material Quickstart'" [headerIcon]="'code'">
    J'utilise cette application comme base pour mes projets Angular Material.<br/>
    Les composants réutilisables se trouvent sous le dossier <code>components/basic</code>.
  </app-card>



    <!--div class="login-center" fxLayout="column" fxLayoutAlign="center center">
      <app-login class="login"></app-login>
    </div-->

</div>
