.main-container {
  height: 100%;
  width: 100%;
  padding: 20px;

  .login {
    margin: auto 0;
    width: 23em;
  }

  .login-center { // USEFUL : Center
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
  }

  .card {
    width: 100%;
    height: auto;
  }
}

