/* Contient les différentes variables de couleurs
*/

/**** Textes ***/
$white:#fff;
$blue: #1f368b;
$blue-logo: #262d82;
$violet: #4f54f5;
$lightgrey:#d1d5e5;
$grey: #636161;

/*** Backgrounds ***/
$bg-grey: #f2f3fc;
$bg-grey-search: #f0f0f0;
$bg-light:#f1f1f1;
$bg-green: #60bd9a;
$bg-error:#ffccc4;
$bg-button:#4460b3;
$bg-search: #cfcfcf;


/*** Autres ***/
$cyan : #00b0f0;
$magenta: #d11975;
$red:#fb3737;
$gold: #ecc029;
$black: #000000;
$green-fluo: #77ff1e;
$green: green;
$pink: #dd50cc;

/*** Border  - shadow***/
$border-grey: #d1d3fc;
$border-table: #cfcfcf;
$border-light-grey: #f0f0f0;
$shadow-grey: #d4d4d4;
$border-blue : $bg-button;
$border-dark-blue : #142668;
$border-orange : #ffa702;
